#app {
    height: 100%;
    min-height: 100dvh;
    width: 100%;
    position: relative;
}

@font-face {
    font-family: "bootstrap-icons";
    src: url(/node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2);
}

a {
    color: inherit;
}

a::after {
    margin: 0 0 0 5px;
    font-family: "bootstrap-icons";
    content: "\f1c5";
    font-weight: 900;
}

#sidebarContainer {
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    width: min(400px, 100%);
    height: 100%;
}

@media (max-width: 520px) {
    #sidebarContainer {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-height: 480px) {
    #sidebarContainer {
        width: min(calc(150px * 16 / 9 + 40px), 100%);
    }
}
