#pointList {
    --list-gap: 20px;

    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: white;
    margin: var(--list-gap);
    padding: var(--list-gap);
    height: calc(100% - var(--list-gap) * 4);
    width: calc(25% - var(--list-gap) * 4);
    border-radius: 25px;
}

#pointList ul {
    margin: 0;
    height: calc(100% - var(--list-gap) * 2);
    width: calc(100% - var(--list-gap) * 2);
    padding-left: 0;
    overflow: scroll;
}

#pointList li {
    list-style: none;
}
