#pointList {
    --list-gap: 20px;

    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: white;
    margin: var(--list-gap);
    padding: var(--list-gap);
    height: calc(100% - var(--list-gap) * 2);
    width: calc(25% - var(--list-gap) * 2);
    border-radius: 25px;
    overflow: scroll;
    scrollbar-width: none;
    box-shadow: 0 0 10px gray;
    box-sizing: border-box;
}

#pointList::-webkit-scrollbar {
    display: none;
}

#pointList ul {
    margin: 0;
    height: 100%;
    width: 100%;
    padding-left: 0;
}

#pointList li {
    list-style: none;
}
