.leaflet-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.leaflet-marker-icon.selected-marker {
    filter: hue-rotate(180deg) saturate(1.25) brightness(1.05);
}
