#sidebarComponent {
    --list-gap: 20px;
    --background-color: #ffffff;

    background-color: var(--background-color);
    margin: var(--list-gap);
    padding: var(--list-gap);
    height: calc(100% - var(--list-gap) * 2);
    width: 400px;
    border-radius: 25px;
    box-shadow: 0 0 10px gray;
    box-sizing: border-box;
}

#title {
    margin: 0 0 10px;
}

#logo {
    width: 100%;
}

#subtitle {
    font-size: large;
}
